<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/resources/css/cart.css" />
  </head>
  <body class="container">
    <% include ../partials/header %>

    <main class="cart">
      <div class="cart__header">
        <div class="cart__header-text">My Cart (<%= cart.count %> item)</div>
      </div>

      <% for(let i=0; i < cart.items.length; i++) { %>
      <div class="cart__item" data-id="<%= cart.items[i].product.id %>">
        <img
          src="<%= cart.items[i].product.imageURL %>"
          alt="<%= cart.items[i].product.name %> logo"
          class="cart__item-logo"
        />
        <div class="cart__item-detail">
          <h1 class="cart__item-detail-heading"><%= cart.items[i].product.name %></h1>
          <div class="cart__item-detail-info">
            <div class="cart__item-detail-info-count">
              <a class="cart__item-detail-info-remove" data-id="<%= cart.items[i].product.id %>">&#45;</a>
              <span class="cart__item-detail-info-item-count" data-id="<%= cart.items[i].product.id %>"
                ><%= cart.items[i].count %></span
              >
              <a class="cart__item-detail-info-add" data-id="<%= cart.items[i].product.id %>">&#43;</a>
              * Rs.<%= cart.items[i].product.price %>
            </div>
            <span class="cart__item-detail-info-total" data-id="<%= cart.items[i].product.id %>">
              Rs.<%= (cart.items[i].product.price * cart.items[i].count) %>
            </span>
          </div>
        </div>
      </div>
      <% } %>
    </main>

    <% include ../partials/footer %>
    <script src="/resources/js/services.js" type="text/javascript" defer></script>
    <script src="/resources/js/headerCartController.js" type="text/javascript" defer></script>
    <script src="/resources/js/cartItemController.js" type="text/javascript" defer></script>
    <script src="/resources/js/cart.js" type="text/javascript" defer></script>
  </body>
</html>
