<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/resources/css/home.css" />
  </head>
  <body class="container">
    <% include ../partials/header %>

    <main class="home" role="main">
      <div class="carousel">
        <ul class="carousel__items">
          <% for(let i=0; i < offers.length; i++) { %>
          <li class="carousel__item">
            <img
              src="<%= offers[i].bannerImageUrl %>"
              alt="<%= categories[i].bannerImageAlt %>"
              class="carousel__image"
            />
          </li>
          <% } %>
        </ul>
        <div class="carousel__navigation carousel__navigation--prev">PREV</div>
        <div class="carousel__navigation carousel__navigation--next">NEXT</div>
        <ul class="carousel-dots">
          <% for(let i=0; i < offers.length; i++) { %>
          <li class="carousel-dots__dot" data-index="<%= i %>"></li>
          <% } %>
        </ul>
      </div>

      <% for(let i=0; i < categories.length; i++) { %>
      <div class="category">
        <img
          src="<%= categories[i].imageUrl %>"
          alt="<%= categories[i].name %> logo"
          class="category-logo"
          tabindex="0"
          aria-labelledby="category-description-<%= i %>"
        />
        <div class="flex-column category-detail" id="category-description-<%= i %>">
          <h1 class="category-detail__main"><%= categories[i].name %></h1>
          <h2 class="category-detail__sub"><%= categories[i].description %></h2>
          <a href="/products/<%= categories[i].key %>" class="btn">Explore <%= categories[i].key %></a>
        </div>
      </div>
      <% } %>
    </main>

    <% include ../partials/footer %>
    <script src="/resources/js/carousel.js" type="text/javascript" defer></script>
    <script src="/resources/js/home.js" type="text/javascript" defer></script>
  </body>
</html>
