<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/resources/css/register.css" />
  </head>
  <body>
    <% include ../partials/header %>
    <main class="form-container">
      <div class="heading">
        <h1 class="heading__primary">
          <%= primaryHeading %>
        </h1>
        <h3 class="heading__sub"><%= primarySubHeading %></h3>
      </div>
      <form class="form">
        <% for(let i=0; i < inputs.length; i++) { %>
        <div class="form__input-container">
          <input
            type="<%= inputs[i].type %>"
            class="register-form__input"
            required
            name="<%= inputs[i].label %>"
            id="<%= inputs[i].id %>"
          />
          <label for="<%= inputs[i].id %>"><%= inputs[i].label %></label>
          <div class="bar"></div>
        </div>
        <% } %>
        <a class="form__submit" href="<%= submitLink %>"><%= submitLabel %></a>
      </form>
    </main>

    <% include ../partials/footer %>
  </body>
</html>
