<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/resources/css/products.css" />
  </head>
  <body class="container">
    <% include ../partials/header %>
    <main class="product-list-page">
      <div class="category-list">
        <% for(let i=0; i < categories.length; i++) { %>
        <a href="/products/<%= categories[i].key %>"><p class="category-list__name"><%= categories[i].name %></p></a>
        <% } %>
      </div>
      <div class="mob-category-list-container">
          <select class="mob-category-list">
          <% for(let i=0; i < categories.length; i++) { %>
              <% if (categoryId && categoryId===categories[i].id) { %>
                  <option value="/products/<%= categories[i].key %>" selected>
              <% } else { %>
                  <option value="/products/<%= categories[i].key %>">
              <% } %>
              <%= categories[i].name %>
          </option>
          <% } %>
          </select>
      </div>
      <div class="product-list">
        <% for(let i=0; i < products.length;i++) { %>
          <div class="product-card">
            <p class="product-card__name"><%= products[i].name %></p>
            <div class="product-card__detail">
              <img
                class="product-card__detail-img"
                src="<%= products[i].imageURL %>"
                alt="<%= products[i].name %> logo"
              />
              <div class="product-cart__detail-text">
                <p class="product-card__detail-description"><%= products[i].description %></p>
                <a class="product-buy-btn product-card__detail-btn" data-id="<%= products[i].id %>">
                    Buy Now @Rs.<%= products[i].price %>
                </a>
              </div>
            </div>
            <div class="product-card__buy">
              <div class="product-card__buy-price">MRP Rs.<%= products[i].price %></div>
              <a class="product-buy-btn product-card__buy-btn" data-id="<%= products[i].id %>">
                Buy Now <span class="product-card__buy-sm-txt">@Rs.<%= products[i].price %></span>
              </a>
            </div>
          </div>
        <% } %>
      </div>
    </main>
    <% include ../partials/footer %>
    <script src="/resources/js/services.js" type="text/javascript" defer></script>
    <script src="/resources/js/headerCartController.js" type="text/javascript" defer></script>
    <script src="/resources/js/products.js" type="text/javascript" defer></script>
  </body>
</html>
